{% extends 'base.html.twig' %}

{% block title %}Nouveau type{% endblock %}

{% block body %}
    <h1>Créer un type</h1>

    {{ include('type/_form.html.twig') }}

    <a href="{{ path('app_type_index') }}">Retour à la liste</a>
{% endblock %}
