{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h1>Créer une intervention</h1>

    {{ include('action/_form.html.twig') }}

    <a href="{{ path('app_action_index') }}">Retour à la liste</a>
{% endblock %}
