{% extends 'base.html.twig' %}

{% block title %}Nouveau porte-greffe{% endblock %}

{% block body %}
    <h1>Créer un porte-greffe</h1>

    {{ include('porte_greffe/_form.html.twig') }}

    <a href="{{ path('app_porte_greffe_index') }}">Retour à la liste</a>
{% endblock %}
