{% extends 'base.html.twig' %}

{% block title %}Ajouter plusieurs photos{% endblock %}

{% block body %}
    <h1>Ajouter plusieurs photos</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Téléverser</button>
    {{ form_end(form) }}

    <a href="{{ path('app_vegetable_index') }}">Retour à la liste</a>
{% endblock %}
