{% extends 'base.html.twig' %}

{% block title %}Modifier le groupe{% endblock %}

{% block body %}
    <h1>Modifier le groupe</h1>

    {{ include('group/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_group_index') }}">Retour à la liste</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
