{% extends 'base.html.twig' %}

{% block title %}Nouveau groupe{% endblock %}

{% block body %}
    <h1>Créer un groupe</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('app_group_index') }}">Retour à la liste</a>
{% endblock %}
