<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PlantCompanion</title>
        <link rel="icon" type="image/png" href="{{ asset('logo_48.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('logo_192.png') }}">
        {{ vite_entry_link_tags('app') }}
        {{ vite_entry_script_tags('app') }}
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
